<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>

  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="clientId" value="AcsSiVph0l5YOT6f3p9r0CJ-wpTJ6O_rzYEamZrhUwQleiBFF62uNvqxRJQH_r2icm3otFoLp2rpxey0" />
      <add name="clientSecret" value="EKV6J5mPJRvg0g7yXdYJWgbgqefV06r_PrCc-OHXu3jhZGHvnSEZptKWu-VGEGqqLY_Y4R-JTa_U7lQt" />
    </settings>
  </paypal>
  
  
  <connectionStrings>
    <add name="CS" connectionString="Data Source=DESKTOP-94I8UI1;Initial Catalog=AAL-Site;Integrated Security=False;User Id=site2;Password=sitePass"/>
  </connectionStrings>
  <appSettings>
    <add key="adminAccess" value="admin|aal2017!"/>
    <add key="PayPalServer" value="www.sandbox.paypal.com"/>
    <add key="PayPalButtonCode" value="NNPPSU4Q6KNZE"/>
  </appSettings>  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web> 
  -->
  <system.web> 
    <compilation debug="true" targetFramework="4.6.1"/>  
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="RedirectUserFriendlyURL1" stopProcessing="true"> 
          <match url="^ticket\.aspx$"/>
          <conditions>
            <add input="{REQUEST_METHOD}" pattern="^POST$" negate="true"/>
            <add input="{QUERY_STRING}" pattern="^url=([^=&amp;]+)$"/> 
          </conditions>
          <action type="Redirect" url="ticket/{C:1}" appendQueryString="false"/>
        </rule>
        <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
          <match url="^ticket/([^/]+)/?$"/>
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="ticket.aspx?url={R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>